<%# this is the url path /answer, so router knows where to go after the form has been filled up %>
<h2>Ask Stupid Coach a lovely question below:</h2>
<form action="answer">
  <input type="text" name="question">
  <input type="submit" value="Ask Away!">
</form>